<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/cookiejs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryspin")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The best app", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("List links", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        ko.extenders.required = function ( target, overrideMessage ) {
            target.hasError = ko.observable();
            target.validationMessage = ko.observable();

            function validate( newValue ) {
                target.hasError( newValue ? false : true );
                target.validationMessage( newValue ? "" : overrideMessage || "This field is required" );
            }

            validate( target() );

            target.subscribe( validate );

            return target;
        };
    </script>
</body>
</html>
